/*--------------------------------------Background---------------------------------------*/
body{
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/652/confectionary.png);
    height: 100%;
    width: 100%;
    float: left;
    margin: 0px
    }
/*---------------------------------About Me jumbotron----------------------------------------------*/
.imgMe{
    float: left;
    width: 40%;
    margin: 25px 25px 20px 15px;
    border: solid #cccccc;
}

#box-1{
    background-color: #ffffff;
    border: solid #cccccc;
    position: relative;
    padding: 40px 30px 40px 30px;
    margin: 0px auto;
    border-width: 2px;
    width: 75%;
}
.text{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    margin: 22px 15px 17px 15px;
    font-size: 14pt;
    letter-spacing: 1px;

}

#title{
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    border-bottom: groove 4px;
    border-bottom-color: #dddddd;
    margin: 15px;
    font-size: 22pt;
    padding-bottom: 30px;
    letter-spacing: 1px;
    line-height: 0.8;
}

/*---------------------------------Work Link Jumbotron-------------------------------------------------*/
#box-3{
    background-color: #ffffff;
    border: solid #cccccc;
    position: relative;
    padding: 40px 30px 40px 30px;
    margin: 0px auto;
    border-width: 2px;
    width: 75%;
}

/*minecraft hangman*/
#logo-1{
    position: relative;
    width: 100%;
    color: #ffffff;
    margin: 15px 5px 15px 5px;
    padding: 10px;
    float: left;
}
/*engram buster*/
#logo-2{
    position: relative;
    width: 100%;
    color: #ffffff;
    margin: 15px 5px 15px 5px;
    padding: 10px;
    float: left;
}
/*giftastic*/
#logo-3{
    position: relative;
    width: 100%;
    color: #ffffff;
    margin: 15px 5px 15px 5px;
    padding: 10px;
    float: left;
}
/*furry friend finder*/
#logo-4{
    position: relative;
    width: 100%;
    color: #ffffff;
    margin: 15px 5px 15px 5px;
    padding: 10px;
    float: left;
}
/*Burgur Mania*/
#logo-5{
    position: relative;
    width: 100%;
    color: #ffffff;
    margin: 15px 5px 15px 5px;
    padding: 10px;
    float: left;
}
/* Band Mates */
#logo-6{
    position: relative;
    width: 100%;
    color: #ffffff;
    margin: 15px 5px 15px 5px;
    padding: 10px;
    float: left;
}
#portTxt{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    margin: 20px 15px 20px 15px;
    font-size: 14pt;
    letter-spacing: 1px;
    padding-bottom: 15px;
    border-bottom: dashed 4px;
    border-bottom-color: #dddddd;
}
#portTxt2{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #626262;
    margin: 35px 15px 17px 15px;
    font-size: 14pt;
    letter-spacing: 1px;
}
#gitLink{
    color:#1c908b
    !important;

}
#linkIn{
    color:#1c908b
    !important;

}
#modalBtn{
    background-color:#1c908b
    !important;

}
#resumeLnk{
    color:#1c908b
    !important;

}

/*-----------------------------------------NAV BAR------------------------------------------*/
nav{
    background-color: #ffffff;
    border-bottom: groove #cccccc;
    overflow: hidden;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
}
#nameImg{
    position: relative;
    left: 39.5%;
    width: 25rem;
    top: 25%
}

/*-----------------------------------Media Query-------------------------------*/
footer, header, nav, body{ 
    display: block;
}
#pagewrap {
	width: 100%;
	margin: 0 auto;
}
@media screen and (min-width: 1025px) {
    #portTxt{
        font-size: 18pt;      
    }    
    #portTxt2{
        font-size: 18pt;      
    }    
    .text{
        font-size: 18pt;      
    } 
    #title{
        font-size: 25pt;
    } 
    #nameImg{
        width: 23rem;
        left: 43%;
        top: 40%;
    }
    .imgMe{
        width: 25%;
    }
    .modal-body{
        font-size: 18pt
    }
    .modal-title{
        font-size: 18pt
    }
}

@media screen and (max-width: 1024px) {

	#box-1, #box-3 {
		width: 75%;
    }
    #imgCol{
        width: 20%;
    }
    #nameImg{
        width: 20rem;
        left: 34%;
        top: 50%;
    }
    #modalBtn{
        width: 50%
    }
    .imgMe{
        width: 51%;
    }
    .text{
        margin: 20px 15px 17px 15px;
    }
    #logo-4{
        width: 110%;
        height: 42px;
    }
    #logo-6{
        width: 110%;
        height: 42px;
    }
    #portTxt{
        font-size: 12pt;      
    }    
    #portTxt2{
        font-size: 12pt;      
    }    
    .text{
        font-size: 12pt;      
    } 
    #title{
        font-size: 16pt;
    }   
    
}
@media screen and (max-width: 768px){
    #nameImg{
        width: 20rem;
        left: 27%;
        top: 50%;
    }
    .imgMe{
        float: left;
        width: 51%;
    }
    .navlnk{
        position: fixed;
        width: 50%;
        left: 53%
    }
    #portTxt{
        font-size: 10pt;      
    }    
    #portTxt2{
        font-size: 10pt;      
    }    
    .text{
        font-size: 10pt;      
    } 
    #title{
        font-size: 14pt;
    }   
    #logo-1{
        width: 110%;
        height: 55px;
        left: 5%;
    }
    #logo-2{
        width: 110%;
        height: 40px;
        right: 10%;
    }
    #logo-3{
        width: 115%;
        height: 45px;
        left: 5%;
    }
    #logo-4{
        width: 133%;
        height: 45px;
        right: 10%;
    }
    #logo-5{
        width: 110%;
        height: 43px;
        right: 10%;
    }
    #logo-6{
        width: 130%;
        height: 50px;
        right: 10%;
    }
    #modalBtn{
        width: 7rem;
    }
}
@media screen and (max-width: 700px){
    #nameImg{
        width: 20rem;
        left: 27%;
        top: 50%;
    }
    .imgMe{
        float: left;
        width: 51%;
    }
    .navlnk{
        position: fixed;
        width: 50%;
        left: 53%
    }
    #portTxt{
        font-size: 10pt;      
    }    
    #portTxt2{
        font-size: 10pt;      
    }    
    .text{
        font-size: 10pt;      
    } 
    #title{
        font-size: 14pt;
    }   
    #logo-1{
        width: 110%;
        height: 55px;
        left: 5%;
    }
    #logo-2{
        width: 110%;
        height: 40px;
        right: 10%;
    }
    #logo-3{
        width: 115%;
        height: 45px;
        left: 5%;
    }
    #logo-4{
        width: 133%;
        height: 45px;
        right: 10%;
    }
    #logo-5{
        width: 110%;
        height: 43px;
        right: 10%;
    }
    #logo-6{
        width: 130%;
        height: 50px;
        right: 10%;
    }
    #modalBtn{
        width: 7rem;
    }
}
@media screen and (max-width: 500px){
    #nameImg{
        width: 12rem;
        left: 23%;
        top: 125%;
    }
    .imgMe{
        float: left;
        width: 51%;
    }
    .navlnk{
        position: fixed;
        width: 50%;
        left: 53%
    }
    #portTxt{
        font-size: 8pt;      
    }    
    #portTxt2{
        font-size: 8pt;      
    }    
    .text{
        font-size: 8pt;      
    } 
    #title{
        font-size: 14pt;
    } 
    #imgCol{
        width: 50%
    }  
    #logo-1{
        left: -8%;
    }
    #logo-2{
        width: 110%;
        height: 40px;
        right: 10%;
    }
    #logo-3{
        left: -10%;
    }
    #logo-4{
        margin: 5px 5px 15px 5px;
        width: 80%;
        height: 45px;
        right: -5%;
    }
    #logo-5{
        width: 110%;
        height: 43px;
        right: 10%;
    }
    #logo-6{
        margin: 5px 5px 15px 5px;
        width: 80%;
        height: 45px;
        right: -5%;
    }
    #modalBtn{
        width: 7rem;
    }
    #box-3{
        margin-top: 15px
    }
}