/*---------------------------------About Me page----------------------------------------------*/
.img-me{
    float: left;
    height: 180x;
    width: 130px;
    margin: 20px 25px 30px 15px;
}

#box-1{
    background-color: #ffffff;
    border: solid #cccccc;
    position: fixed;
    padding: 40px 30px 40px 30px;
    margin: 40px 220px 40px 212px;
    border-width: 2px;
    top: 90px;
    left: 240px;
    height: 420px;
    width: 960px;   
}

.text{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    margin: 35px 15px 17px 15px;
    font-size: 14pt;
    letter-spacing: 1px;

}

#title{
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    border-bottom: groove 4px;
    border-bottom-color: #dddddd;
    margin: 15px;
    font-size: 22pt;
    padding-bottom: 30px;
    letter-spacing: 1px;
    line-height: 0.8;
}

/*------------------------------------------Contact page----------------------------------------------*/
#box-2{
    background-color: #ffffff;
    border: solid #cccccc;
    position: fixed;
    padding: 40px 30px 40px 30px;
    margin: 40px 220px 40px 220px;
    border-width: 2px;
    top: 90px;
    left: 240px;
    height: 535px;
    width: 960px;
}
#label{
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    margin: 2px 760px 2px 15px;
    font-size: 15pt; 
}
#txtbx{
    border: 1px dotted #A59898;
    width: 925px;
    margin: 0px 15px 5px 15px;
    letter-spacing: 1px;
    padding-left: 5px
}
textarea{
    border: 1px dotted #A59898;
    height: 215px;
    width: 925px;
    margin: 0 15px 0 15px;
    letter-spacing: 1px;
    padding-left: 5px
}
button{
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
    background-color: #4aaaa5;
    color: white;
    border: 2px solid #ffffff;
    border-radius: 25px;
    margin: 15px 15px 2px 15px;
    padding: 7px 30px 5px 30px;
    font-size: 18pt;
}


/*---------------------------------Portfolio page-------------------------------------------------*/
#box-3{
    background-color: #ffffff;
    border: solid #cccccc;
    position: absolute;
    padding: 40px 30px 40px 30px;
    margin: 40px 220px 40px 220px;
    border-width: 2px;
    top: 90px;
    left: 240px;
    height: 1150px;
    width: 960px;
}

/*hangman*/
#logo-1{
    position: absolute;
    height: 200px;
    width: 200px;
    left: 65px;
    top: 182px;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 25px;
}
#label1{
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
    background-color: #4aaaa5;
    color: #ffffff;
    border: 2px solid #ffffff;
    position: absolute;
    border-radius: 25px;
    margin: 15px 15px 2px 15px;
    padding: 7px 30px 5px 30px;
    font-size: 15pt;
    width: 184px;
    top: 345px;
    z-index: 2;
}
/*rock paper scissor*/
#logo-2{
    position: absolute;
    height: 200px;
    width: 200px;
    left: 308px;
    top: 182px;
    margin: 0 45px 0 45px;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 25px;
}
#label2{
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
    background-color: #4aaaa5;
    color: #ffffff;
    border: 2px solid #ffffff;
    position: absolute;
    border-radius: 25px;
    margin: 15px 15px 2px 15px;
    padding: 7px 30px 5px 30px;
    font-size: 15pt;
    width: 184px;
    top: 345px;
    left: 315px;
    z-index: 2;
}
/*trivia*/
#logo-3{
    position: absolute;
    height: 200px;
    width: 200px;
    top: 420px;
    left: 20px;
    margin: 30px 45px 30px 45px;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 25px;
}
#label3{
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
    background-color: #4aaaa5;
    color: #ffffff;
    border: 2px solid #ffffff;
    position: absolute;
    border-radius: 25px;
    margin: 15px 15px 2px 15px;
    padding: 7px 30px 5px 30px;
    font-size: 15pt;
    width: 184px;
    top: 615px;
    z-index: 2;
}
/*rpg*/
#logo-4{
    position: absolute;
    height: 200px;
    width: 200px;
    left: 315px;
    top: 420px;
    margin: 30px 45px 30px 45px    
}
#label4{
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
    background-color: #4aaaa5;
    color: #ffffff;
    border: 2px solid #ffffff;
    position: absolute;
    border-radius: 25px;
    margin: 15px 15px 2px 15px;
    padding: 7px 30px 5px 30px;
    font-size: 15pt;
    width: 184px;
    left: 315px;
    top: 615px;
    z-index: 2;
}
/*Rutgers*/
#logo-5{
    position: absolute;
    height: 200px;
    width: 200px;
    left: 5px;
    bottom: 273px;
    margin: 30px 45px 30px 45px
}
#label5{
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
    background-color: #4aaaa5;
    color: #ffffff;
    border: 2px solid #ffffff;
    position: absolute;
    border-radius: 25px;
    margin: 15px 15px 2px 15px;
    padding: 7px 30px 5px 30px;
    font-size: 15pt;
    width: 184px;
    bottom: 298px;
    z-index: 2;
}

/*--------------------------------------Background---------------------------------------*/
body{
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/652/confectionary.png);
    height: 100%;
}

/*-----------------------------------------NAV BAR------------------------------------------*/
nav{
    background-color: #ffffff;
    border-bottom: groove #cccccc;
    overflow: hidden;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
}

#name{
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
    float: left;
    display: block;
    color: #ffffff;                   
    background-color: #4aaaa5;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 1.8;
    margin: 0 100px 0 220px;
    padding: 20px;
    height: 90px;
}

.navlnk{
    display: flex;
    float: right;
    padding: 3px 220px 0px 0px;
}

.navlnk li{
    border-left: ridge #A59898;
    list-style: none;
    margin: 25px 0 0 0;
    padding: 0 10px 0 10px;
    border-left-width: 1px;
}

a{
    color: #A59898
}

/*------------------------------------Footer--------------------------------------*/
footer{   
    border-top: solid #4aaaa5;
    background-color: #666666;
    overflow: hidden;
    position: fixed;
    bottom: 0%;
    left: 0;
    width: 100%;
    height: 60px;    
    border-top-width: 4px;
    z-index: 3;
}